{{ partial "header" . }}

<main>

    <div class="intro">

        {{ with .Site.Params.profilePic }} <img class="profile" src="{{ . }}"> {{ end }}

        <img src="ust-tech.svg" alt="HKUST Tech Club Logo">

        <h4>{{ .Site.Title }}</h4>

        <h5>{{ markdownify .Site.Params.Description }}</h5>

        <hr>
     
        {{ range first 10 .Site.Taxonomies.tags.ByCount }}
        <a href="/tags/{{ .Name | urlize }}"><kbd class="item-tag">{{ .Name }}</kbd> </a>
        {{ end }}

    </div>

</main>

{{ partial "footer" . }}
