{{ partial "header" . }}

<main>

    <div class="intro">

        {{ with .Site.Params.profilePic }} <img class="profile" src="{{ . }}"> {{ end }}

        <h1>{{ .Site.Title }}</h1>

        <h3>{{ markdownify .Site.Params.Description }}</h3>

        <hr>
        <strong>Poplular tags:</strong>
        {{ range first 10 .Site.Taxonomies.tags.ByCount }}
        <a href="/tags/{{ .Name | urlize }}"><kbd class="item-tag">{{ .Name }}</kbd> </a>
        {{ end }}

    </div>

</main>

{{ partial "footer" . }}
